<div class="row justify-content-between">
  <div class="col">
    &nbsp;<i>{{.Site.Params.tagline}}</i>
  </div>
  <!-- <div class="col-xs-5 float-right">
    <a href="https://www.youtube.com/channel/UCaFJkvrnVj59F66kZ2AhedA/videos" title="Youtube" name="Youtube">
      <img class="header-icon" src="/theme_images/icons/youtube.png"/>
    </a>
    <a href="https://twitter.com/dublincore" title="Twitter" name="Twitter">
      <img class="header-icon" src="/theme_images/icons/twitter.png"/>
    </a>
    <a href="https://github.com/dcmi" title="Github" name="Github">
      <img class="header-icon" src="/theme_images/icons/github.png"/>
    </a>
    <a type="application/rss+xml" href="/index.xml" title="RSS" name="RSS">
      <img class="header-icon" src="/theme_images/icons/rss.png"/>
    </a>
  </div> -->
</div>
<div class="row justify-content-start">
  <div class="col">
    <a href="/">
      Learning Resource Metadata Initiative
    </a>
  </div>
</div>