<div id="navbar" class="row justify-content-between">
  <div class="col">
    <nav class="nav nav-fill">
		<a class="nav-link" href="/"><h4>Home</h4></a>
		<a class="nav-link" href="/specifications/"><h4>Specifications</h4></a>
		<a class="nav-link" href="/task_group/"><h4>Communications</h4></a>
		<a class="nav-link" href="/about/"><h4>About LRMI</h4></a>
		<a class="nav-link" href="http://dublincore.org"><h4>DCMI</h4></a>
    </nav>
  </div>
<!--   <form action="/search" method="get">
    <input class="form-control-sm" type="text" name="q" placeholder="quick search...."/>
  </form> -->
</div>


