<div id="navbar" class="row justify-content-between">
  <div class="col">
    <nav class="nav nav-fill">
		<a class="nav-link" href="/"><h2>Home</h2></a>
		<a class="nav-link" href="/specifications/"><h2>Specifications</h2></a>
		<a class="nav-link" href="/task_group/"><h2>Communications</h2></a>
		<a class="nav-link" href="/about/"><h2>About</h2></a>
    </nav>
  </div>
<!--   <form action="/search" method="get">
    <input class="form-control-sm" type="text" name="q" placeholder="quick search...."/>
  </form> -->
</div>


