html {
  padding: 1%; 
  background-color: white;
}

body {
  margin: 0 auto;
  background-color: white;
  border-radius: 8px;
  font-family: 'Muli','Helvetica',sans-serif;
  color: #4C4C4C;
  /*max-width: 32cm;*/
  font-size: 16px;
}

pre,code {
  color: #4C4C4C;
  font-family: 'Fira Mono';
}

blockquote {
  font-size: 100%;
  font-style: italic;
}

.force-word-wrap {
  overflow-wrap: break-word;
  word-wrap: break-word;

  /* Adds a hyphen where the word breaks */
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

a,a:visited,a:hover {
  color: #23527c;
}

a {
  text-decoration: underline;
}

hr {
/*  border: 0;
  height: 1px;
  background: #4C4C4C;
  clear: both;*/
}

h1 {
  font-size: 30px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 15px;
}






/*HEADER*/

div#logo-and-title {
  vertical-align: middle;
}

h1#site-title {
  font-weight: bold;
  font-size: 3.1em;
}

div#logo-and-title a#site-title-link img#site-logo {
  float: left;
  margin-right: 5px;
  /*margin-bottom: 5px;*/
  width: 50px;
}

div#header a {
  text-decoration: none;
}

div#header a:hover {
  text-decoration: underline;
}

div#header a#site-title-link:hover {
  text-decoration: none;
}

a#site-title-link {
  color: #4C4C4C;
}

div#navbar {
  clear: both;
  border-bottom: 1px solid #4C4C4C;
  padding-bottom: 5px;
}

a.navbar_link {
  font-size: 16px;
}

li.terms-list {
  display: inline-block;
  padding-right: 10px;
}

img.navbar-icon {
  max-height: 25px;
  float: right;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 4px;
  padding: 0px;
}

a.site-title:hover,a.navbar-link:hover {
  text-decoration: underline;
}

div#navbar {
  border-bottom: 1px solid #cdcdcd;
  margin-top: 20px;
  margin-bottom: 20px;
}

a.nav_link {
  font-size: 16px;
  text-decoration: none;
}

a.nav_link:hover {
  text-decoration: underline;
}

div#footer {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #cdcdcd;
  font-size: x-small;
}

img.home-page-logo {
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 2px;
  max-width: 50px;
}

div.post-metadata {
  font-style: italic;
}

div.members-logo-box {
  border: 1px solid #4C4C4C;
  padding: 10px;
}
