table,tr {
  border: 1px #efefef solid;
  width: 100%;
}

th,td {
  vertical-align: top;
  padding: 5px;
  border: 1px #efefef solid;
  font-size: 90%;
}

th {
  font-weight: bold;
  white-space: nowrap;
}